.main {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #203758;
    margin-bottom: 14px;
}
.sub {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #788292;
    margin-bottom: 18px;
}
.people {
    margin-top: 2rem;
}
.buttons {
    margin-bottom: 27px;
    display: flex;
}
.buttons:last-child {
    margin-right: 0px;
}
.btn {
    padding: 10px;
    border-radius: 5px;
    background: #f0f7ff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #1877f2;
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 10px;
}
.btn:hover {
    transition: all 0.3s;
    color: #fcfcfc;
    background: #0e58ac;
}
.members {
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 1100px) {
    .main {
        flex: 1 1 30%;
        margin: 0px 0px 0px 0px;
    }
}
@media (max-width: 900px) {
    .main {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
    }
    .members {
        margin-right: 50px;
    }
}
@media (max-width: 500px) {
    .main {
        flex-direction: column;
    }
    .members {
        margin-right: 0px;
    }
}
