.main {
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.area {
    min-height: 5rem;
    height: 100%;
    resize: none;
    border-radius: 6px;
    border: 1px solid gray;
    outline: none;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
}
.btn {
    min-height: 3rem;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    background-color: white;
}
.btn:hover {
    transition: all 0.3s;
    color: #fcfcfc;
    background: #3492fd;
    border: 1px solid #3492fd;
}
@media (max-width: 800px) {
    .main {
        margin: 20px 0px 0px 0px;
    }
    .area {
        margin: 0px 0px 0px 0px;
    }
}
