.chat {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: blanchedalmond;
    min-width: 250px;
    min-height: 70px;
    border-radius: 20px;
}
.img {
    padding-right: 15px;
    width: 50px;
    height: 50px;
}
.person {
    text-decoration: none;
    color: black;
}
