.main {
    background-color: white;
    height: 100%;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.smallflex {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    margin-bottom: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #203758;
}
.lastseen {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #788292;
}
.message {
    max-width: 500px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 187.4%;
    color: #203758;
}
.statblock {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}
.stat {
    display: flex;
    margin-right: 10px;
}
.statblock:last-child {
    margin-right: 30px;
}
.nums {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    color: #788292;
    opacity: 0.5;
}
