.main {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}
.flex {
    display: flex;
    align-items: center;
}
.photo {
    margin-right: 14px;
}
.name {
    margin-right: 6px;
}
.btn {
    border-radius: 5px;
    width: 70px;
    height: 30px;
    background: #f0f7ff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #1877f2;
    cursor: pointer;
    border: none;
    outline: none;
}
