.bigimg {
    width: 170px;
    height: 170px;
    margin: 0px 0px 0px 0px;
}
.main {
    display: flex;
    flex-direction: column;
}
.text {
    display: flex;
    background-color: white;
}
.block {
    position: relative;
    margin: 0px 0px 0px 0px;
    max-height: 170px;
}
.flexblock {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 34px;
    left: 17px;
}
.opening {
    display: flex;
    margin-bottom: 8px;
}
.heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    margin-left: 6px;
}
.icon {
    width: 12px;
    height: 17px;
}
.discription {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: white;
    max-width: 145px;
    margin-bottom: 14px;
}
.btn {
    color: #203758;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: white;
    max-width: 90px;
    height: 30px;
    cursor: pointer;
}
.btn:hover {
    color: #ffffff;
    background-color: #5081c5;
    transition: all 0.3s;
}
.text {
    display: flex;
    align-items: center;
    padding: 5px;
}
.stat {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
    display: flex;
    flex-direction: column;
    color: #788292;
}
.photos {
    margin-right: 9px;
}
@media (max-width: 400px) {
    .main:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .bigimg {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 350px) {
    .bigimg {
        width: 180px;
        height: 180px;
    }
    .flexblock {
        top: 17px;
    }
    .btn {
        height: 25px;
    }
}
