.block {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.375rem;
    margin-right: 1rem;
}
.main {
    padding: 0px 10px;
    border-bottom: 1px solid #d6d7da;
    background-color: white;
}
.img {
    width: 3rem;
    height: 3rem;
}
.list {
    display: flex;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
.profile {
    width: 3rem;
    height: 3rem;
}
.search {
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 13px;
    width: 1.25rem;
    height: 1.25rem;
    align-self: center;
}

.link:hover {
    border-bottom: 2px solid #0e58ac;
    color: #0e58ac;
    transition: color 0.3s;
}
.link,
.logolink {
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    color: #788292;
    opacity: 0.7;
    margin-right: 2.5rem;
}
.loginblock {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.name {
    margin-bottom: 5px;
}
.logout,
.spanlogin {
    height: 30px;
    border-radius: 5px;
    background: #f0f7ff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #1877f2;
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 5px;
}
.spanlogin {
    padding: 10px;
    text-decoration: none;
}
.logout:hover,
.spanlogin:hover {
    transition: all 0.3s;
    color: #fcfcfc;
    background: #0e58ac;
}
.mobileimg {
    display: none;
}
@media (max-width: 500px) {
    .logolink {
        margin-right: 10px;
    }
    .link {
        margin: 0px 0px 0px 0px;
    }
    .li {
        display: flex;
        align-items: center;
    }
    .mobileimg {
        display: flex;
        width: 30px;
        height: 30px;
        color: #788292;
        opacity: 0.7;
    }
    .li:not(:last-child) {
        margin-right: 1rem;
    }
    .linkspan {
        display: none;
    }
}
@media (max-width: 350px) {
    .mobileimg {
        width: 25px;
        height: 25px;
    }
    .li:last-child {
        margin-right: 1rem;
    }
}
