.main {
    width: 60px;
    height: 100%;
}
.iframe {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.img {
    margin-top: 10px;
}
.plus {
    margin-top: 100%;
    cursor: pointer;
}
